html {
    height: 100%;
    width: 100%;
  }
  
 
  h1 {
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 35%;
    margin-top: -30px;
  }
  hr{
    margin-top: -70px;
    margin-bottom: 40px;
  }

  .image{
    width: 15%;
    
  }

 


  body {
        font-family: Arial, sans-serif;
        background-color: aliceblue;
        
      }
      .estoque label {
        display: block;
        margin-top: 10px;
        margin-bottom: 35px;
      }

      
      .opcoes{
        margin-left: 25%;
        top: 10px;
      }
      .opcoes label {
        display: block;
        margin-top: 10px;
       
        
      }
      .opcoes button{
        margin-top: 8px;
        padding: 5px;
        
      }

      input[type="number"] {
        width: 100px;
      }
      
  
  .exibir{
    border: 7px solid #7eb8f7;
    background-color: #7eb8f7;
    margin-left: 25%;
    
    width: 50%;
  }
  
  .estoque{
    margin-left: 20%;
    
  }

  button{
    cursor: pointer;
  }
  .estoque button{
    display: flex;
    margin-left: 33%;
    margin-bottom: 60px;
    padding: 5px;
    background-color: #4CAF50;
    color: aliceblue;
  }
   .estoque label {
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
      }
    


     
      
      .selecionado {
        background-color: #4CAF50;
        color: white;
      }
      
      .opcoes {
        display: none;
      }

      .ultimo {
        display: flex;
      }
      
      .ultimo:hover {
        background-color: #4CAF50;
        
      }

     .botoes{
      margin-left: 25%;
      
      
     }
     .botoes button{
      padding: 8px;
     }


     footer {
      background-color: #f1f1f1; 
      padding: 20px; 
      text-align: center; 
      position: absolute; 
      bottom: 0; 
      width: 100%; 
    }

   
    footer p {
      display: inline-block; 
      margin: 0 10px; 
    }